.container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  font-family: Gildia-rough-bold, sans-serif;

  background: radial-gradient(var(--color-prime-100), var(--color-prime-500));
  border: 2px solid black;
}

.corner {
  position: absolute;
  width: 1.5em;
  height: 0.8em;
  margin: -0.15rem 0;
}

.up {
  opacity: 1;
}

.down {
  opacity: 0.7;
}
